.board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  grid-auto-flow: column;
  background-color: #eda04d;
  width: 800px;
  height: 800px;
}

.board > * {
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  @apply select-none;
}

.board div img {
  height: 80px;
  @apply m-2 cursor-pointer select-none object-contain;
  pointer-events: none;
}
.light {
  background-color: rgba(255, 255, 255, 0.8);
}

.dark {
  background-color: #eda04d;
}

.dark-selected {
  background-color: rgba(195, 250, 174, 0.603);
}

.light-selected {
  background-color: rgba(195, 250, 174, 0.603);
}

.movable {
  background-color: rgb(188, 242, 149);
}
.takeable {
  background-color: red;
}

.dark-movable {
  background-color: rgb(188, 242, 149);
}
