.board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  grid-auto-flow: column;
  background-color: #eda04d;
  width: 800px;
  height: 800px;
}

.board > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board div img {
  height: 80px;
  cursor: grab;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.light {
  background-color: rgba(255, 255, 255, 0.8);
}

.dark {
  background-color: #eda04d;
}

.light[data-state="selected"],
.dark[data-state="selected"] {
  background-color: rgba(195, 250, 174, 0.603);
}

.dark[data-state="movable"],
.light[data-state="movable"] {
  background-color: rgb(188, 242, 149);
}

.light[data-state="takeable"],
.dark[data-state="takeable"] {
  background-color: red;
}

.light[data-state="check"],
.dark[data-state="check"] {
  background-color: rgb(214, 167, 167);
}

.chess-piece {
}
