.board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  grid-auto-flow: column;
  background-color: #eda04d;
  width: 800px;
  height: 800px;
}

.light{
  background-color: rgba(255, 255, 255, 0.8);
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}

.dark {
  background-color: sienna;
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}

.dark-selected {
  background-color: rgba(195, 250, 174, 0.603);
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}

.light-selected {
  background-color: rgba(195, 250, 174, 0.603);
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}

.light-movable {
  background-color: rgb(188, 242, 149);
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}

.dark-movable {
  background-color: rgb(188, 242, 149);
  width: 100px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}
